<main id="page-main">
    <section id="top-section">
       <div id="left">
            <div class="slogan">
                <label>Sell your home </label>
                <br>
                <label class="label-2">for free!</label>
            </div>
            <div id="search-bar-container">
                <app-search-bar></app-search-bar>
            </div>
           
       </div>
        <div id="right">
            <img src="../../../../assets/img/home-page/blue-home.png" />
        </div>

    </section>

    <section id="free-online-cash-section">
        <app-card-icon-row></app-card-icon-row>
    </section>


    <section id="blue-section">
        <div class="blue-section-text">How can I receive offers on my home?</div>
        <img src="../../../../assets/img/home-page/landing_page_home.png" />
    </section>
    <app-explains-offers></app-explains-offers>
</main>